<p-fluid>
    <form [formGroup]="form">
        <!-- Componente Registro de turismo -->
        <p-panel>
            <h1 class="text-3xl font-bold mb-8">Datos Independientes de Alojamiento Turístico</h1>
            <div class="grid grid-cols-12 gap-6">

                 <!-- Total habitaciones / tiendas de campaña -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Total habitaciones / tiendas de campaña"> </label>
                    <input pInputText type="text" formControlName="totalRooms" />
                </div>
                <!--Total camas -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Total camas "> </label>
                    <input pInputText type="text" formControlName="totalBeds" />
                </div>
                 <!--Total plazas -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Total plazas"> </label>
                    <input pInputText type="text" formControlName="totalPlaces" />
                </div>
                <!--Total capacidades servicios complementarios -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Total capacidades servicios complementarios"> </label>
                    <input pInputText type="text" formControlName="totalComplementaryServices" />
                </div>
                <!--Año de declaración del tarifario rack  -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Año de declaración del tarifario rack"> </label>
                    <input pInputText type="text" formControlName="yearStatementRackTariff" />
                </div>
                <!--Fecha de declaración del tarifario rack-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Fecha de declaración del tarifario rack"> </label>
                    <input pInputText type="text" formControlName="declarationDateRack" />
                </div>
                <!--Tipos capacidades-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Tipos capacidades"> </label>
                    <input pInputText type="text" formControlName="typesCapacities" />
                </div>
                <!--Cantidad por tipo de capacidad -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Cantidad por tipo de capacidad "> </label>
                    <input pInputText type="text" formControlName="quantityByTypeCapacity" />
                </div>
                <!--Plazas por tipo de capacidad-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Plazas por tipo de capacidad"> </label>
                    <input pInputText type="text" formControlName="placesTypeCapacity" />
                </div>
                 <!--Tarifa por tipo de capacidad -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Tarifa por tipo de capacidad "> </label>
                    <input pInputText type="text" formControlName="rateTypeCapacity" />
                </div>
                 <!--Modalidades de turismo de aventura -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Modalidades de turismo de aventura "> </label>
                    <input pInputText type="text" formControlName="aventureTourismModalities" />
                </div>
                 <!--Actividades permitidas CTC  -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Actividades permitidas CTC"> </label>
                    <input pInputText type="text" formControlName="permittedActivities" />
                </div>
            </div>
        </p-panel>
    </form>
</p-fluid>
