<p-fluid>
    <form [formGroup]="form">
        <!-- Componente Registro de turismo -->
            <h1 class="text-3xl font-bold mb-8">Datos Independientes de Alimentos y Bebidas</h1>
            <div class="grid grid-cols-12 gap-6">

                 <!-- Total de mesas  -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Total de mesas"> </label>
                    <input pInputText type="text" formControlName="totalTables" />
                </div>

                <!--Total capacidades en número de personas -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Total capacidades en número de personas"> </label>
                    <input pInputText type="text" formControlName="totalCapacityNumberPeople" />
                </div>

                 <!--Tipos de cocina -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Tipos de cocina"> </label>
                    <input pInputText type="text" formControlName="kitchenTypes" />
                </div>

                <!--Tipos de servicio -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Tipos de servicio"> </label>
                    <input pInputText type="text" formControlName="typeService" />
                </div>

                 <!--Modalidades de turismo de aventura -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Modalidades de turismo de aventura "> </label>
                    <input pInputText type="text" formControlName="aventureTourismModalities" />
                </div>

                <!--Actividades permitidas CTC  -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Actividades permitidas CTC"> </label>
                    <input pInputText type="text" formControlName="ctcActivities" />
                </div>
            </div>
    </form>
</p-fluid>
