<p-fluid>
    <form [formGroup]="form">
        <!-- Componente Registro de turismo -->
            <h1 class="text-3xl font-bold mb-8">Datos Independientes de Agenciamiento turístico</h1>
            <div class="grid grid-cols-12 gap-6">

                 <!-- Modalidades de turismo de Aventura -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Modalidades de turismo de Aventura"> </label>
                    <input pInputText type="text" formControlName="aventureTourismModalities" />
                </div>

                <!--Identificaciones de Guías de Turismo-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Identificaciones de Guías de Turismo"> </label>
                    <input pInputText type="text" formControlName="identification" />
                </div>

                 <!--Nombres de Guías de Turismo  -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Nombres de Guías de Turismo "> </label>
                    <input pInputText type="text" formControlName="name" />
                </div>

                <!--RUC de Compañías de Transporte -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="RUC de Compañías de Transporte"> </label>
                    <input pInputText type="text" formControlName="ruc" />
                </div>

                <!--Razón Social de Compañías de Transporte -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Razón Social de Compañías de Transporte "> </label>
                    <input pInputText type="text" formControlName="touristTransportCompanies" />
                </div>

                <!--Identificación del representante de ventas-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Identificación del representante de ventas"> </label>
                    <input pInputText type="text" formControlName="salesRepresentatives" />
                </div>

                <!--Nombre del representante de ventas-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Nombre del representante de ventas"> </label>
                    <input pInputText type="text" formControlName="legalName" />
                </div>
            </div>
    </form>
</p-fluid>
