<p-fluid>
    <form [formGroup]="form">
    <!-- Componente Registro de turismo --> 
    <p-panel>
        <h1 class="text-3xl font-bold mb-8">Registro de turismo</h1>
        <div class="grid grid-cols-12 gap-6">
            <!-- Numero de registro -->
            <div class="col-span-4 flex flex-col gap-2">
                <label appLabel label="Número de registro"> </label>
                <input pInputText type="text" [value]="" formControlName="registerNumber"/>
            </div>
            <!-- Fecha de registro -->
            <div class="col-span-4 flex flex-col gap-2">
                <label appLabel label="Fecha de registro"> </label>
                <input pInputText type="date" formControlName="registerDate"/>
            </div>
            <!-- Estado de registro -->
            <div class="col-span-4 flex flex-col gap-2">
                <label appLabel label="Estado de registro"> </label>
                <input pInputText type="text" formControlName="registerState"/>
            </div>
            <!-- Actividad -->
            <div class="col-span-4 flex flex-col gap-2">
                <label appLabel label="Actividad"> </label>
                <input pInputText type="text" formControlName="activities"/>
            </div>
            <!-- Clasificación -->
            <div class="col-span-4 flex flex-col gap-2">
                <label appLabel label="Clasificación"> </label>
                <input pInputText type="text" formControlName="classification"/>
            </div>
            <!-- Categoría -->
            <div class="col-span-4 flex flex-col gap-2">
                <label appLabel label="Categoría"> </label>
                <input pInputText type="text" formControlName="categorie"/>
            </div>

            <!-- Tiene Deuda -->
            <div class="col-span-2 flex flex-col gap-2">
                <label appLabel label="Tiene Deuda" formaControlName="debt" > </label>
            </div>
        </div>
    </p-panel>

    <!-- Componente Local y Persona Jurídica -->
    <p-panel>
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-3 flex flex-col gap-2">
                <label appLabel label="Su local es"> </label>
                <input pInputText type="text" formControlName="isLocal"/>
            </div>

            <div class="col-span-6 flex flex-col gap-2">
                <label appLabel label="Tipo Personería Jurídica"> </label>
                <input pInputText type="text" formControlName="personeriaType"/>
            </div>
        </div>
    </p-panel>

    <!-- Componente Establecimiento -->
    <p-panel>
        <h1 class="text-3xl font-bold mb-8">Establecimiento</h1>
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-2 flex flex-col gap-2">
                <label appLabel label="Número"> </label>
                <input pInputText type="text" formControlName="number"/>
            </div>

            <div class="col-span-10 flex flex-col gap-2">
                <label appLabel label="Nombre Comercial"> </label>
                <input pInputText type="text" formControlName="comercialName"/>
            </div>

            <div class="col-span-8 flex flex-col gap-2">
                <label appLabel label="Página Web"> </label>
                <input pInputText type="text" formControlName="webApp"/>
            </div>

            <div class="col-span-4 flex flex-col gap-2">
                <label appLabel label="Estado"> </label>
                <input pInputText type="text" formControlName="state"/>
            </div>
        </div>
    </p-panel>

    <!-- Componente DPA -->
    <p-panel class="text-">
        <h1 class="text-3xl font-bold mb-8">DPA</h1>
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-4 flex flex-col gap-2">
                <label appLabel label="Provincia"> </label>
                <input pInputText type="text" formControlName="province"/>
            </div>

            <div class="col-span-4 flex flex-col gap-2">
                <label appLabel label="Cantón"> </label>
                <input pInputText type="text" formControlName="canton"/>
            </div>

            <div class="col-span-4 flex flex-col gap-2">
                <label appLabel label="Parroquia"> </label>
                <input pInputText type="text" formControlName="parroquial"/>
            </div>
        </div>
    </p-panel>

    <!-- Componente Ubicación -->
    <p-panel class="text-">
        <h1 class="text-3xl font-bold mb-8">Ubicación</h1>
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-4 flex flex-col gap-2">
                <label appLabel label="Calle Principal"> </label>
                <input pInputText type="text" formControlName="princialStreet"/>
            </div>

            <div class="col-span-4 flex flex-col gap-2">
                <label appLabel label="Numeración"> </label>
                <input pInputText type="text" formControlName="numeration"/>
            </div>

            <div class="col-span-4 flex flex-col gap-2">
                <label appLabel label="Calle Intersección"> </label>
                <input pInputText type="text" formControlName="intersectionStreet"/>
            </div>

            <div class="col-span-8 flex flex-col gap-2">
                <label appLabel label="Referencia de Ubicación"> </label>
                <input pInputText type="text" formControlName="referenceUbication"/>
            </div>

            <div class="col-span-2 flex flex-col gap-2">
                <label appLabel label="Latitud"> </label>
                <input pInputText type="text" formControlName="latitude"/>
            </div>

            <div class="col-span-2 flex flex-col gap-2">
                <label appLabel label="Longitud"> </label>
                <input pInputText type="text" formControlName="longitude"/>
            </div>
        </div>
    </p-panel>

    <!-- Componente Persona de Contacto -->
    <p-panel>
        <h1 class="text-3xl font-bold mb-8">Persona de Contacto</h1>
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-4 flex flex-col gap-2">
                <label appLabel label="Cédula de Identidad"> </label>
                <input pInputText type="number" formControlName="identityCard"/>
            </div>

            <div class="col-span-4 flex flex-col gap-2">
                <label appLabel label="Datos del registro civil"> </label>
                <input pInputText type="text"  formControlName="civilRegisterData"/>
            </div>

            <div class="col-span-4 flex flex-col gap-2">
                <label appLabel label="Correo Electrónico Propietario"> </label>
                <input pInputText type="email" formControlName="emailProprietary"/>
            </div>

            <div class="col-span-3 flex flex-col gap-2">
                <label appLabel label="Número de Teléfono Principal"> </label>
                <input pInputText type="number" formControlName="phonePrincipal" />
            </div>

            <div class="col-span-3 flex flex-col gap-2">
                <label appLabel label="Número de Teléfono Secundario"> </label>
                <input pInputText type="number" formControlName="phoneSecondary"/>
            </div>

            <div class="col-span-3 flex flex-col gap-2">
                <label appLabel label="Correo Electrónico"> </label>
                <input pInputText type="email" formControlName="email"/>
            </div>
        </div>
    </p-panel>

    <!-- Componente Personal del Establecimiento -->
    <p-panel>
        <h1 class="text-3xl font-bold mb-8">Personal del Establecimiento</h1>
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-6 flex flex-col gap-2">
                <label appLabel label="Total de hombres, que trabajan en el establecimiento"> </label>
                <p-inputnumber mode="decimal" formControlName="menTotal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100" />
            </div>

            <div class="col-span-6 flex flex-col gap-2">
                <label appLabel label="Del total hombres, cuantos tienen discapacidad"> </label>
                <p-inputnumber mode="decimal" formControlName="disabledMen" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100" />
            </div>

            <div class="col-span-6 flex flex-col gap-2">
                <label appLabel label="Total de mujeres, que trabajan en el establecimiento"> </label>
                <p-inputnumber mode="decimal" formControlName="womenTotal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100" />
            </div>

            <div class="col-span-6 flex flex-col gap-2">
                <label appLabel label="Del total mujeres, cuantas tienen discapacidad"> </label>
                <p-inputnumber mode="decimal" formControlName="disabledWomen" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100" />
            </div>
        </div>
    </p-panel>
    </form>
</p-fluid>
