<p-fluid>
    <form [formGroup]="form">
        <!-- Componente Registro de turismo -->
            <h1 class="text-3xl font-bold mb-8">Trámite</h1>
            <div class="grid grid-cols-12 gap-6">
                <!-- RUC-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="RUC"></label>
                    <input pInputText type="text" formControlName="ruc" />
                </div>

                <!-- Código de Establecimiento RUC-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Código de establecimiento RUC"> </label>
                    <input pInputText type="text" formControlName="code" />
                </div>

                <!-- Estado RUC-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Estado RUC"> </label>
                    <input pInputText type="text" formControlName="state" />
                </div>

                <!-- Nombre Comercial-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Nombre Comercial"> </label>
                    <input pInputText type="text" formControlName="tradeName" />
                </div>

                <!-- Número de Registro-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Número de Registro"> </label>
                    <input pInputText type="text" formControlName="registerNumber" />
                </div>

                <!-- Fecha de registro -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Fecha de registro"> </label>
                    <p-datepicker type="date" formControlName="registeredAt" />
                </div>

                <!-- Actividad -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Actividad"> </label>
                    <input pInputText type="text" formControlName="activities" />
                </div>

                <!-- Clasificación -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Clasificación"> </label>
                    <input pInputText type="text" formControlName="sort" />
                </div>

                <!-- Categoría -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Categoría"> </label>
                    <input pInputText type="text" formControlName="categorie" />
                </div>

                <!-- Razón Social-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Razón social (Propietario)"> </label>
                    <input pInputText type="text" formControlName="socialReason" />
                </div>

                <!-- Respresentante legal-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Representante legal"> </label>
                    <input pInputText type="text" formControlName="legalName" />
                </div>

                 <!--Tipo trámite -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Tipo trámite"> </label>
                    <input pInputText type="text" formControlName="type" />
                </div>

                <!--Fecha de trámite -->
                <!-- <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Fecha de trámite"> </label>
                    <p-datepicker type="date" formControlName="registeredAt" />
                </div>  -->
            </div>
    </form>
</p-fluid>
