<p-fluid>
    <p-panel>
        
        <app-procedure 
        (dataOut)="saveForm($event, 'dates1_12')"
        [showLocalType]="true" />
        <p-divider />
        <app-dates-14-37 
         (dataOut)="saveForm($event, 'x')"/>
        
        <p-divider />
        <app-accommodation-variables 
         (dataOut)="saveForm($event, 'accommodation')"/>
        <p-divider />
        <app-dates-79-84 
         (dataOut)="saveForm($event, 'dates79_84')"/>
        <p-divider />
        <div class="justify-content-end align-items-right flex flex-wrap gap-2">
            <p-button (onClick)="onSubmit()" icon="pi pi-pencil" size="small" label="Editar" [raised]="true" severity="contrast" />
        </div>
    </p-panel>
</p-fluid>
