<div class="">

  <!-- Primer bloque -->
  <p-card class="col-12 md:col-6 lg:col-4">
    <h2>Datos del catastro</h2>

     <div class="flex">
        <span class="font-medium mr-2">RUC:</span>
        <span class="font-extrabold">1792072018001</span>
      </div>

      <div class="flex">
        <span class="font-medium mr-2">Estado:</span>
        <span class="font-extrabold">Activo</span>
      </div>

       <div class="flex">
        <span class="font-medium mr-2">Razón Social:</span>
        <span class="font-extrabold">DELI INTERNACIONAL S.A.</span>
      </div>

      <div class="flex">
        <span class="font-medium mr-2">Tipo de Contribuyente:</span>
        <span class="font-extrabold">Persona Jurídica</span>
      </div>

      <div class="flex">
        <span class="font-medium mr-2">Identificación Representante Legal:</span>
        <span class="font-extrabold">1704196912</span>
      </div>

      <div class="flex">
        <span class="font-medium mr-2">Nombre Representante Legal:</span>
        <span class="font-extrabold">GUARDERAS RIOFRIO ESTEBAN</span>
      </div>

      <div class="flex">
        <span class="font-medium mr-2">Actividad Económica Principal:</span>
      </div>
    
  </p-card>

  <!-- Segundo bloque -->
  <p-card header="Datos del Catastro">
    <div class="flex">
      <span class="font-medium mr-2">Número de Expediente :</span>
      <span class="font-extrabold">157271</span>
    </div>
  </p-card>

</div>
