<p-fluid>
    <form [formGroup]="form">
        <!-- Componente Registro de turismo -->
            <h1 class="text-3xl font-bold mb-8">Datos 1-11</h1>
            <div class="grid grid-cols-12 gap-6">
                <!-- RUC-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="RUC"></label>
                    <input pInputText type="text" formControlName="ruc" />
                </div>
                <!-- Código de Establecimiento RUC-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Código de establecimiento RUC"> </label>
                    <input pInputText type="text" formControlName="establishmentCode"/>
                </div>
                <!-- Estado RUC-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Estado RUC"> </label>
                    <input pInputText type="text" formControlName="stateRuc" />
                </div>
                
                <!-- Razón Social-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Razón social (Propietario)"> </label>
                    <input pInputText type="text" formControlName="socialReason" />
                </div>
                <!-- Respresentante legal-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Representante legal"> </label>
                    <input pInputText type="text" formControlName="legalRepresentative" />
                </div>
            </div>
    </form>
</p-fluid>

