<p-fluid>
    <form [formGroup]="form">
        <!-- Componente Registro de turismo -->
            <h1 class="text-3xl font-bold mb-8">Establecimiento</h1>
            <div class="grid grid-cols-12 gap-6">
                <!-- Tipo de Establecimieto-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Tipo de Establecimiento"></label>
                    <p-select  optionLabel="label" formControlName="establishments" placeholder="Seleccione una opción"> </p-select>
                </div>

                <!-- Nombre(Franquicia o Cadena)-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Nombre"> </label>
                    <p-select optionLabel="label" formControlName="name" placeholder="Seleccione un nombre"> </p-select>
                </div>

                <!-- Tipo de Personería-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Tipo de Personería"> </label>
                    <p-select optionLabel="label" formControlName="type" placeholder="Seleccione una opción"> </p-select>
                </div>

                 <!-- Personería Jurídica-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Personería jurídica"> </label>
                    <input pInputText type="text" formControlName="legalEntity" />
                </div>

                <!-- Correo electrónico-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Correo electrónico"> </label>
                    <input pInputText type="text" formControlName="email" />
                </div>

                 <!-- Página Web -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Página Web "> </label>
                    <input pInputText type="text" formControlName="webPage" />
                </div>
                
                <!-- Estado Registro del establecimiento-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Estado Registro del establecimiento"> </label>
                    <input pInputText type="text" formControlName="state" />
                </div>

                <!-- no mostrar -->
                <!-- Sistema de origen-->
               <!--  <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Sistema de origen"> </label>
                    <input pInputText type="text" formControlName="systemOrigin" />
                </div> -->

                <!-- Estado del Registro con deuda -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Estado del Registro con deuda "> </label>
                    <input pInputText type="text" formControlName="hasDebt" />
                </div>

                 <!-- Número -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Número"> </label>
                    <input pInputText type="text" formControlName="number" />
                </div>

                 <!-- Nombre Comercial -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Nombre Comercial"> </label>
                    <input pInputText type="text" formControlName="tradeName" />
                </div>
            </div>
    </form>
</p-fluid>
