<p-fluid>
    <form [formGroup]="form">
        <!-- Componente Registro de turismo -->
            <h1 class="text-3xl font-bold mb-8">Datos 79-84</h1>
            <div class="grid grid-cols-12 gap-6">

                 <!-- Persona de contacto -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Persona de contacto "> </label>
                    <input pInputText type="text" formControlName="name" />
                </div>

                <!--Correo electrónico de la persona de contacto-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Correo electrónico de la persona de contacto"> </label>
                    <input pInputText type="text" formControlName="email" />
                </div>

                 <!--Tipo trámite -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Tipo trámite"> </label>
                    <input pInputText type="text" formControlName="type" />
                </div>

                <!--Fecha de trámite -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Fecha de trámite"> </label>
                    <input pInputText type="text" formControlName="registeredAt" />
                </div>

                <!--Modificación sistema -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Modificación sistema"> </label>
                    <input pInputText type="text" formControlName="state" />
                </div>

                <!--Observaciones modificación sistema -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Observaciones modificación sistema"> </label>
                    <input pInputText type="text" formControlName="observation" />
                </div>
            </div>
    </form>
</p-fluid>
