<p-fluid>
    <form [formGroup]="form">
        <!-- Componente Registro de turismo -->
            <h1 class="text-3xl font-bold mb-8">Cadastre</h1>
            <div class="grid grid-cols-12 gap-6">

                <!-- Número de Registro-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Número de Registro"> </label>
                    <input pInputText type="text" formControlName="registerNumber" />
                </div>

                <!-- Fecha de registro -->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Fecha de registro"> </label>
                    <p-datepicker type="date" formControlName="registeredAt" />
                </div>

                <!-- Estado del Registro-->
                <div class="col-span-4 flex flex-col gap-2">
                    <label appLabel label="Estado del Registro"> </label>
                    <input pInputText type="text" formControlName="state" />
                </div>

            </div>
    </form>
</p-fluid>
